<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bluekhata">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="com.bluekhata.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/BaseTheme.Dark">
        <activity
            android:name="com.bluekhata.ui.dashboard.DashBoardActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bluekhata.ui.splash.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bluekhata.ui.addcategory.AddCategoryActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.bluekhata.ui.currencies.CurrencyListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bluekhata.ui.setting.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bluekhata.ui.tags.TagActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bluekhata.ui.upcoming.UpcomingTransactionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bluekhata.ui.recursive.RecursiveTransactionActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>